@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Sancoale';
        src: url('/src/fonts/Sancoale/Sancoale Medium.ttf') format('truetype');
        /* font-weight: 400;
        font-style: normal; */

    }

    @font-face {
        font-family: 'Volaroid san';
        src: url('/src/fonts/Volaroid san.otf') format('opentype');
        /* font-weight: 500;
        font-style: normal; */
    }

    @font-face {
        font-family: 'ChollaSlabThin';
        src: url('/src/fonts/ChollaSlabThin.otf') format('opentype');
        /* font-weight: 500;
        font-style: normal; */
    }
}